* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

#scroll {
  position: absolute;
  /* pointer-events: all; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#scroll-content {
  height: 2000px;
  /* pointer-events: none; */
}